# Sports-Retail-Revenue-Optimization SQL Analysis

---


For this project. I have utilized dataset of an online sports cleaning company. This database consists of 5 relational tables info, finance, reviews, brands,traffic. By performing data transformation, product segmentation & analyzing different factors influencing revenue we aim to optimize marketing strategies and discover ways to surge revenue.

## 1. Counting Missing values

In [ ]:
%%sql
postgresql:///sports


SELECT
    COUNT(*) AS total_rows,
    SUM(CASE WHEN description IS NOT NULL THEN 1 ELSE 0 END) AS count_description,
    SUM(CASE WHEN listing_price IS NOT NULL THEN 1 ELSE 0 END) AS count_listing_price,
    SUM(CASE WHEN last_visited IS NOT NULL THEN 1 ELSE 0 END) AS count_last_visited
FROM
    info
JOIN
    finance USING (product_id)
JOIN
    traffic USING (product_id);

1 rows affected.

[(3179, 3117, 3120, 2928)]

## 2. Nike vs Adidas pricing

In [ ]:
%%sql
postgresql:///sports


select brand,listing_price::int,count(*)
from finance
inner join brands
using (product_id)
group by brand,listing_price
having listing_price>0
order by listing_price desc;

77 rows affected.

[('Adidas', 300, 2),
 ('Adidas', 280, 4),
 ('Adidas', 240, 5),
 ('Adidas', 230, 8),
 ('Adidas', 220, 11),
 ('Nike', 200, 1),
 ('Adidas', 200, 8),
 ('Nike', 190, 2),
 ('Adidas', 190, 7),
 ('Nike', 180, 4),
 ('Adidas', 180, 34),
 ('Nike', 170, 14),
 ('Adidas', 170, 27),
 ('Nike', 160, 31),
 ('Adidas', 160, 28),
 ('Adidas', 150, 41),
 ('Nike', 150, 6),
 ('Adidas', 140, 36),
 ('Nike', 140, 12),
 ('Adidas', 130, 96),
 ('Nike', 130, 12),
 ('Adidas', 120, 115),
 ('Nike', 120, 16),
 ('Nike', 110, 17),
 ('Adidas', 110, 91),
 ('Nike', 100, 14),
 ('Adidas', 100, 72),
 ('Adidas', 96, 2),
 ('Nike', 95, 1),
 ('Nike', 90, 13),
 ('Adidas', 90, 89),
 ('Adidas', 86, 7),
 ('Nike', 85, 5),
 ('Adidas', 85, 1),
 ('Adidas', 80, 322),
 ('Nike', 80, 16),
 ('Nike', 79, 1),
 ('Adidas', 76, 149),
 ('Adidas', 75, 1),
 ('Nike', 75, 7),
 ('Adidas', 70, 87),
 ('Nike', 70, 4),
 ('Adidas', 66, 102),
 ('Nike', 65, 1),
 ('Adidas', 63, 1),
 ('Nike', 60, 2),
 ('Adidas', 60, 211),
 ('Adidas', 56, 174),
 ('Adidas', 55, 2),
 ('Adidas', 53, 43),
 ('Nike', 50, 5),
 ('Adidas', 50, 183),
 ('Adidas', 48, 42),
 ('Nike', 48, 1),
 ('Adidas', 46, 163),
 ('Nike', 45, 3),
 ('Adidas', 45, 1),
 ('Adidas', 43, 51),
 ('Adidas', 40, 81),
 ('Nike', 40, 1),
 ('Adidas', 38, 24),
 ('Adidas', 36, 25),
 ('Adidas', 33, 24),
 ('Adidas', 30, 37),
 ('Nike', 30, 2),
 ('Adidas', 28, 38),
 ('Adidas', 27, 18),
 ('Adidas', 25, 28),
 ('Adidas', 23, 1),
 ('Adidas', 20, 8),
 ('Adidas', 18, 4),
 ('Adidas', 16, 4),
 ('Adidas', 15, 27),
 ('Adidas', 13, 27),
 ('Adidas', 12, 1),
 ('Adidas', 10, 11),
 ('Adidas', 9, 1)]

## 3. Product segementation based on price

In [ ]:
%%sql
postgresql:///sports

select brand,count(*),SUM(revenue) AS total_revenue ,
CASE
WHEN listing_price<42 then 'Budget'
WHEN listing_price>=42 AND listing_price<74 then 'Average'
WHEN listing_price>=74 AND listing_price<129 then 'Expensive'
WHEN listing_price>=129 then 'Elite'
END AS price_category
from finance
inner join brands as b
using (product_id)
where b.brand IS NOT NULL
group by brand,price_category
ORDER BY total_revenue DESC;

8 rows affected.

[('Adidas', 849, 4626980.069999999, 'Expensive'),
 ('Adidas', 1060, 3233661.060000001, 'Average'),
 ('Adidas', 307, 3014316.8299999987, 'Elite'),
 ('Adidas', 359, 651661.1200000002, 'Budget'),
 ('Nike', 357, 595341.0199999992, 'Budget'),
 ('Nike', 82, 128475.59000000003, 'Elite'),
 ('Nike', 90, 71843.15000000004, 'Expensive'),
 ('Nike', 16, 6623.5, 'Average')]

## 4. Average discount by brand

In [ ]:
%%sql
postgresql:///sports



select brand,avg(discount)*100 as average_discount
from finance
inner join brands
using (product_id)
where brand IS NOT NULL
group by brand

2 rows affected.

[('Nike', 0.0), ('Adidas', 33.452427184465606)]

## 5. Correlation between revenue and reviews

In [ ]:
%%sql

postgresql:///sports

select corr(reviews,revenue) as review_revenue_corr
from finance
join reviews
using (product_id)

1 rows affected.

[(0.6518512283481301,)]

## 6. Effect of description length on ratings & reviews

In [ ]:
%%sql
postgresql:///sports



select trunc(length(description),-2) as description_length, round(avg(rating::numeric),2) as average_rating
from info
inner join reviews using (product_id)
where description IS NOT NULL
group by description_length
order by description_length;

7 rows affected.

[(Decimal('0'), Decimal('1.87')),
 (Decimal('100'), Decimal('3.21')),
 (Decimal('200'), Decimal('3.27')),
 (Decimal('300'), Decimal('3.29')),
 (Decimal('400'), Decimal('3.32')),
 (Decimal('500'), Decimal('3.12')),
 (Decimal('600'), Decimal('3.65'))]

## 7. Reviews  by month and brand

In [ ]:
%%sql
postgresql:///sports



select brand, extract(month from last_visited) as month , count(*) as num_reviews
from traffic
join brands using (product_id)
join reviews using (product_id)
where brand IS NOT NULL AND last_visited is not null
group by brand,month
order by brand,month

24 rows affected.

[('Adidas', Decimal('1'), 253),
 ('Adidas', Decimal('2'), 272),
 ('Adidas', Decimal('3'), 269),
 ('Adidas', Decimal('4'), 180),
 ('Adidas', Decimal('5'), 172),
 ('Adidas', Decimal('6'), 159),
 ('Adidas', Decimal('7'), 170),
 ('Adidas', Decimal('8'), 189),
 ('Adidas', Decimal('9'), 181),
 ('Adidas', Decimal('10'), 192),
 ('Adidas', Decimal('11'), 150),
 ('Adidas', Decimal('12'), 190),
 ('Nike', Decimal('1'), 52),
 ('Nike', Decimal('2'), 52),
 ('Nike', Decimal('3'), 55),
 ('Nike', Decimal('4'), 42),
 ('Nike', Decimal('5'), 41),
 ('Nike', Decimal('6'), 43),
 ('Nike', Decimal('7'), 37),
 ('Nike', Decimal('8'), 29),
 ('Nike', Decimal('9'), 28),
 ('Nike', Decimal('10'), 47),
 ('Nike', Decimal('11'), 38),
 ('Nike', Decimal('12'), 35)]

## 8. Footwear Product performance

In [ ]:
%%sql
postgresql:///sports



with footwear as (
select description,revenue
from info
inner join finance
using (product_id)
where (description ILIKE '%shoe%' OR
description ILIKE '%trainer%' OR
description ILIKE '%foot%') and
DESCRIPTION is not null
)

select count(*) AS num_footwear_products,
PERCENTILE_DISC(0.5) WITHIN GROUP (ORDER BY revenue) as median_footwear_revenue
from footwear;

1 rows affected.

[(2700, 3118.36)]

## 9. Clothing product performance

In [ ]:
%%sql
postgresql:///sports


with footwear as (
select description,revenue
from info
inner join finance
using (product_id)
where (description ILIKE '%shoe%' OR
description ILIKE '%trainer%' OR
description ILIKE '%foot%') and
DESCRIPTION is not null
)

select count(*) as num_clothing_products,
PERCENTILE_DISC(0.5) WITHIN GROUP (ORDER BY revenue) as median_clothing_revenue
from info
inner join finance using (product_id)
where description NOT ILIKE '%shoe%' AND
      description NOT ILIKE '%trainer%' AND
      description NOT ILIKE '%foot%';

1 rows affected.

[(417, 503.82)]